html {
    
}

body {
    margin: 0;
    background-color: #5ccb34;
}

#overlay {
    z-index: 0;
    width: 500px;
    height: 550px;
    left: 50%;
    top: 15%;
    border: 1px dotted gray;
    position: absolute;
    transform: translateX(-50%);
}

#canvas-container, #other-mouse-canvas, #game-canvas {
    width: 1000px;
    height: 600px;
    position: absolute;
}

#canvas-container {
    z-index: 0;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    background: #f7ceff;
}

#other-mouse-canvas {
    z-index: 3;
}

#game-canvas {
    z-index: 2;
}

#selection-div, #other-selection-div {
    z-index: 1;
    position: absolute;
}

#selection-div {
    background-color: lightblue;
    border: 1px dotted black;
}

#other-selection-div {
    background-color: indianred;
    border: 1px dotted black;
}