html {
    
}

body {
    margin: 0;
    background-color: #5ccb34;
}

#canvas-container {
    z-index: 0;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 1000px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}


#game-canvas {
    z-index: 2;
    height: 900px;
    border: 2px solid green;

}

#ui-canvas {
    z-index: 2;
    height: 100px;
    border: 2px solid blue;

}

#selection-div {
    z-index: 1;
    background-color: lightblue;
    border: 1px dotted black;
    position: absolute;
}