#selection-div {
    border: 1px solid #000;
    position: absolute;
}

#game-canvas {
    border: 3px solid rgb(30, 163, 30);
    padding: 0;
    margin: auto;
    display: block;
    /* width: 800px; */
    /* height: 600px; */
    position: absolute;
}

#canvas-container {
    position: relative;
    background-color: rgb(59, 155, 102);
}